*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(242, 230, 225);
}

h1{
    text-align: center;
    background-color: rgb(224, 234, 244);
}

.container{
    background-color: aliceblue;
    padding: 2rem;
    min-height: 45vh;
    min-width: 75vh;
    width: 40vh;
    border-radius: 2rem;
   
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      
}

form {
    margin: 2rem 0 2rem 0;
    
    
  }
  
form select,button,input{
    
    width: 40vh;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

form input {
    border: 1px solid lightblue;
    font-size: medium;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Towala {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.Fromwala{
    margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      
}

form select {
    width: 20vh;
    margin-top: 2rem;
    border: 1px solid lightblue;
    font-size: medium;
    height: 3rem;
    padding-left: 0.5rem;
}

.msg {
    margin-top: 2rem;
    font-size: 33px;
    
}

.button button{
    margin-top: 2rem;
    background-color: #3fac43; /* green shade */
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button button:hover{
    background-color: #77c57c;
}

.amount{
    font-size: medium;
}


